html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include respond(phone) {
		font-size: 55.5%;
	}

	@include respond(phone-small) {
		font-size: 40%;
	}	
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Special Elite', cursive;
	font-weight: 400;
	margin: 0;
	color: $color-black;
	position: relative;
	background-color: $color-grey-light;
	padding-right: 3rem;

	@include respond(tab-mini-land) {
		padding-right: 0;
	}
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

section {
	width: 100%;
	height: 100vh;
	background-color: $color-grey-light-2;
	position: relative;
	left: 0;
	margin-bottom: 3rem;
	transform-origin: left;
	box-shadow: .5rem .5rem 1rem $color-grey-light-3;
	transition: left .5s, transform .5s;

	&:last-child {
		margin-bottom: 0;
	}

	&.change {
		left: 15vw;
		transform: rotateY(10deg);

		@include respond(tab-land) {
			left: 20vw;
			transform: rotateY(15deg);
		}

		@include respond(tab-mini-land) {
			left: 25vw;
			transform: rotateY(20deg);
		}

		@include respond(tab-port) {
			left: 30vw;
			transform: rotateY(25deg);
		}

		@include respond(phone) {
         left: 40vw;
			transform: rotateY(0);
      }
	}
}

.wrapper {
	width: 100%;
	perspective: 50rem;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}