.section-heading {
	font-size: 10rem;
	font-weight: bolder;
	color: $color-white;
	margin-bottom: 10rem;
	letter-spacing: 1rem;
	text-align: center;
	text-shadow: .3rem .3rem .5rem $color-grey-dark;

	@include respond(tab-land) {
		font-size: 7rem;
	}

	@include respond(tab-port) {
		font-size: 5.5rem;
	}

	@include respond(phone) {
		font-size: 4.5rem;
	}
}

.section-1__heading {
   margin-bottom: 3rem;
   text-transform: uppercase;
   text-shadow: 1rem 1rem 1rem $color-black, 
                2rem 2rem 2rem $color-grey-dark-2,
                3rem 3rem 3rem $color-grey-dark-3;
}

.section-5__copyright {
   font-size: 2rem;
   font-weight: 300;
   color: $color-white;
   text-align: center;

   @include respond(tab-land) {
      margin-top: 5rem;
   }

   @include respond(phone-small) {
      width: 80%;
   }	
}