.navbar {
   position: fixed;
   top: 0;
   left: -15vw;
   width: 15vw;
   height: 100vh;
   background-color: $color-white;
   padding: 4rem 0 0 4rem;
   z-index: 10;
   transition: left .5s;

   @include respond(tab-land) {
      width: 20vw;
      padding: 2rem 0 0 2rem;
      left: -20vw;
   }

   @include respond(tab-mini-land) {
		left: -25vw;
      width: 25vw;
	}

   @include respond(tab-port) {
		left: -30vw;
      width: 30vw;
	}

   @include respond(phone) {
		left: -40vw;
      width: 40vw;
	}

   &__list {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      &-item {
         margin: 2rem 0;
         text-transform: uppercase;
      }

      &-link {
         color: $color-grey;
         transition: color .3s;
         font-weight: 600;
         font-size: 1.5rem;
         letter-spacing: .3rem;

         &:hover {
            color: $color-grey-dark-2;
         }

         &.change {
            color: $color-grey-dark-2;
         }
      }
   }

   &.change {
      left: 0;
   }
}