//COLORS
$color-white: #fff;
$color-black: #000;
$color-grey-light: #ccc;
$color-grey-light-2: #efefef;
$color-grey-light-3: #aaa;
$color-grey-light-4: #bbb;
$color-grey-light-5: #888;
$color-grey: #777;
$color-grey-dark: #555;
$color-grey-dark-2: #111;
$color-grey-dark-3: #222;
$color-grey-dark-4: #444;